@page "/about"
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                         class="img-fluid" />
                    <a>
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">AI.Play</h5>
                    <p class="card-text">
                        Train a computer to recognize your own images, sounds, & poses.
                        A fast, easy way to create machine learning models for your sites, apps, and more – no expertise or coding required.
                        <br />
                    </p>
                    <a href="https://github.com/sps014/" class="btn btn-primary">Visit Developer Github Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>


<style>
    body {
        background: #E8EAED;
    }
</style>