@page "/"
@inject IJSRuntime Runtime

<br/>
<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding-top: 20px;">
            <a href="/ic">
                <div class="card">
                    <center>
                        <div class="card-header">
                            <h5>Image Classification</h5>
                        </div>
                    </center>
                    <div class="card-body">
                        <img src="https://miro.medium.com/max/822/1*CV81vQUQTq-ko_ER9gvqjg.png" crossorigin="anonymous"
                             width="350" height="150" />
                    </div>
                    <div class="card-footer text-muted">
                        Teach based on images, from files or your webcam.
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<style>
    body {
        background: #E8EAED;
    }
</style>