@page "/tutorial"

<br />
<div class="container">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DQIaus4z77c?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>


<style>
    body {
        background: #E8EAED;
    }
</style>