<!-- Modal -->
<div class="modal fade"
     id="exampleModal_@ClassContainer.ClassName"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modify  @ClassContainer.ClassName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="form-outline">
                            <input type="text" id="typeText"
                                   class="form-control active" @bind-value="ClassContainer.ClassName" />
                            <label class="form-label" for="typeText">Edit Image Label</label>
                        </div>
                        <br />
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary">Add Local</button>
                            <button type="button" class="btn btn-primary">Webcam</button>
                            <button type="button" class="btn btn-primary">Google Drive</button>
                            <button type="button" class="btn btn-primary">One Drive</button>
                        </div>
                    </div>


                    <!--here is lighbox-->
                    <div class="lightbox overflow-auto" data-zoom-level="0.25">
                        <div class="row">
                            <div class="col-lg-4">
                                <i class="fas fa-times-circle red-text" style="position:relative;top:8px;left:70px"></i>
                                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                                     alt="Lightbox image 1"
                                     class="w-100 h-100" />
                            </div>
                            <div class="col-lg-4">
                                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/2.jpg"
                                     data-img="https://mdbootstrap.com/img/Photos/Slides/2.jpg"
                                     alt="Lightbox image 2"
                                     class="w-100" />
                            </div>
                            <div class="col-lg-4">
                                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/3.jpg"
                                     data-img="https://mdbootstrap.com/img/Photos/Slides/3.jpg"
                                     alt="Lightbox image 3"
                                     class="w-100" />
                            </div>
                        </div>
                        <br/>
                    </div>
                    <!--Cool drop-->




                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
@code
{
    [Parameter]
    public ImageClassContainer ClassContainer { get; set; }
}
