@page "/ic/c/{Index}"
<br/>

<div class="card" style="width:96%;margin-left: 2%;margin-right: 2%;">
    <div class="card-body">
        <h5 class="card-title">Data Warehouse</h5>
        <br />
        <p class="margin-left:60px;">Class Name : </p>
        <input class="form-control" type="text" @bind-value="Class.ClassName"
               style="min-width: 100px;position:relative;margin-left:100px;margin-top:-50px;max-width:200px;outline-color:dodgerblue;" />
        <br />
        <div class="btn-group shadow-0" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary" data-color="dark">
                Left
            </button>
            <button type="button" class="btn btn-outline-secondary" data-color="dark">
                Middle
            </button>
            <button type="button" class="btn btn-outline-secondary" data-color="dark">
                Right
            </button>
        </div>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
        </ul>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
            <li class="list-group-item">
                <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                     data-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                     alt="Lightbox image 1"
                     class="w-100" />
            </li>
        </ul>


        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

@code
{
    [Parameter]
    public string Index { get; set; }
    int i => int.Parse(Index);
    ImageClassContainer Class => ImageClassView.Classes[i];
    ElementReference textRef;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}

<style>
    body {
        background: #E8EAED;
    }
</style>