@page "/ic/c/{Index}"
<br/>

<div class="card" style="width:96%;margin-left: 2%;margin-right: 2%;">
    <div class="card-body">
        <h5 class="card-title">Data Warehouse</h5>
        <br />
        <p class="margin-left:60px;">Class Name : </p>
        <input class="form-control" type="text" @bind-value="Class.ClassName"
               style="min-width: 100px;position:relative;margin-left:105px;margin-top:-50px;max-width:200px;outline-color:dodgerblue;" />
        <br />
        <div class="btn-group shadow-0" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-danger" data-color="dark">
                Add Local
            </button>
            <button type="button" class="btn btn-outline-secondary" data-color="dark">
                Middle
            </button>
            <button type="button" class="btn btn-outline-secondary" data-color="dark">
                Right
            </button>
        </div>
        @for (int i = 0; i <= Class.Images.Length / 3; i++)
        {
            <ul class="list-group list-group-horizontal">

            @for (int j = 0; j < 3; j++)
            {
                int ind = i * 3 + j;
                if (ind >= Class.Images.Length)
                    break;
                <li class="list-group-item">
                <img src="@Class.Images[ind].Image"
                     data-img="@Class.Images[ind].Image"
                     alt="Lightbox image 1"
                     class="w-100" />
                </li>
            }
            </ul>
        }
           


        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

@code
{
    [Parameter]
    public string Index { get; set; }
    int i => int.Parse(Index);
    ImageClassContainer Class => ImageClassView.Classes[i];
    ElementReference textRef;


}

<style>
    body {
        background: #E8EAED;
    }
</style>