@page "/ic/c/{Index}"
<br/>

<div class="card" style="width:96%;margin-left: 2%;margin-right: 2%;">
    <div class="card-body">
        <h5 class="card-title" style="margin-left:25px">Data Warehouse</h5>
        <div style="position:relative;margin-top:-31px">
            <i class="fas fa-folder-open text-danger"></i>
        </div>
        <br />
        <p class="margin-left:60px;">Class Name : </p>
        <input class="form-control" type="text" @bind-value="Class.ClassName"
               style="min-width: 100px;position:relative;margin-left:105px;margin-top:-50px;max-width:200px;outline-color:dodgerblue;" />
        <br />
        <div class="btn-group shadow-0" role="group" aria-label="Basic example">
            <span class="btn btn-primary btn-file">
                Add Images (@Class.Images.Count)     <InputFile OnChange="OnInputFileChange" multiple />
            </span>
            <span class="btn btn-success" style="margin-left:10px">
                From Web Cam (Hold)
            </span>
        </div>
        <br />
        <br />

        @if (Class.Images.Count <= 1)
        {
            <div class="alert alert-warning" role="alert" data-color="success">
                Add atleast 2 Images in "@Class.ClassName"
            </div>
            
        }
        <div class="lightbox">

            @for (int i = 0; i <= Class.Images.Count / ColCount; i++)
            {
                <div class="row">

                    @for (int j = 0; j < ColCount; j++)
                    {
                        int ind = i * ColCount + j;
                        if (ind >= Class.Images.Count)
                            break;
                        <div class="col-3">
                            <img src="@Class.Images[ind].Image"
                                 data-img="@Class.Images[ind].Image"
                                 alt="Lightbox image 1" style="width:100%"
                                 class="w-100 shadow-1-strong rounded" />
                            <button type="button" class="btn btn-danger btn-floating" style="position:relative;margin-top:-40px"
                                    @onclick="()=> { RemoveImage(Class.Images[ind]); }">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    }
                </div>
                <br />
            }

        </div>
    </div>
    </div>

<style>
    body {
        background: #E8EAED;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>
