@page "/ic/c/{Index}"

<br/>

<div class="card" style="width:96%;margin-left: 2%;margin-right: 2%;">
  <div class="card-body">
    <h5 class="card-title">Data Warehouse</h5>
    <!--h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6-->
    <p @ref="textNameRef" contenteditable="true" onkeypress="((e) => { if (e.keyCode == 13) e.preventDefault(); })(event)"
    style="min-width: 50px; width: fit-content;margin-left:30px;outline-color:dodgerblue;">
    Hello
    </p>
    <i style="position: relative;top:-45px" @onclick="() => textNameRef.FocusAsync()" class="fas fa-edit"></i>
    <div class="btn-group shadow-0" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary" data-color="dark">
        Left
        </button>
        <button type="button" class="btn btn-outline-secondary" data-color="dark">
        Middle
        </button>
        <button type="button" class="btn btn-outline-secondary" data-color="dark">
        Right
        </button>
    </div>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

@code
{
    ElementReference textNameRef;
    [Parameter]
    public string Index { get; set; }
    int i => int.Parse(Index);
    ImageClassContainer Class => ImageClassView.Classes[i];

    void BlockEnter(KeyboardEventArgs e)
    {
    }
}

<style>
    body {
        background: #E8EAED;
    }
</style>