<div class="col-md-3" style="padding-top: 20px;">
    <div class="card text-center">
  <div class="card-header">
    <h5>Preview</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Export</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</div>

@code 
{
  [Parameter]
      public int Y { get; set; } = 100;
}

