<div class="col-md-5" style="padding-top: 20px;">
    <div class="card">
  <div class="card-header">
    <h5>Image Dataset</h5>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <center>
        <button type="button" class="btn btn-danger btn-floating btn-lg" style="margin-top: 10px;">
            <i class="fas fa-plus"></i>
      </button>
    </center>

  </div>
  <div class="card-footer text-muted">
    Need atleast 2 classes to categorize
  </div>
</div>
</div>

@code 
{
  [Parameter]
      public int Y { get; set; } = 100;
}

