<div class="col-md-4" style="padding-top: 20px;">
    <div class="card">
        <center>
            <div class="card-header">
                <h5>Image Dataset</h5>
            </div>
        </center>
  <div class="card-body">  
      <ul class="list-group">
       
          @foreach (var (i,Class) in Classes.Select((value,index)=>(index,value)))
          {
              int ind = i;
              if(string.IsNullOrEmpty(Class.ClassName))
                  Class.ClassName="Class" + ClassNameCount++;

              <li class="list-group-item" style="height: 40px;">
                  <div>
                    <p>
                        <a href="/ic/c/@ind">@Class.ClassName</a>
                    </p>
                    <i class="fas fa-trash" @onclick="()=>{DeleteClass(i);}" 
                      style="position:absolute;top:10px;right: 15px;"></i>
                  </div>
              </li>
          }
      </ul>
         <center style="margin-top:20px;">
          <a href="#" class="btn btn-primary"
          @onclick="AddNewClass">Add New Class</a>
        </center>
  </div>
  <div class="card-footer text-muted">
    @if(Classes.Count<2)
    {
      <div class="alert alert-danger" role="alert">
        Need atleast 2 classes to categorize
      </div>
    }
  </div>
</div>
</div>
