<div class="col-md-5" style="padding-top: 20px;">
    <div class="card">
  <div class="card-header">
    <h5>Image Dataset</h5>
  </div>
  <div class="card-body" @onmouseover="StateHasChanged">
      <ul class="list-group">
          @foreach (var Class in Classes)
          {
              <ClassModifyView ClassContainer="Class" />
              <li class="list-group-item" @onwaiting="StateHasChanged"
                  data-toggle="modal" data-target="#exampleModal_@Class.ClassName">@Class.ClassName</li>
          }
      </ul>
    <center style="margin-top:20px;">
          <a href="#" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal">Add New Class</a>


    </center>

  </div>
  <div class="card-footer text-muted">
    Need atleast 2 classes to categorize
  </div>
</div>
</div>

@code 
{
    [Parameter]
    public static List<ImageClassContainer> Classes { get; set; } = new List<ImageClassContainer>() {
        new ImageClassContainer(){ ClassName="Cats"},
        new ImageClassContainer(){ClassName="Dogs"}
    };
}

