<div class="stepcontainer">
  <ul class="stepprogressbar">
      @foreach (var step in Steps)
      {
          int ind=Array.IndexOf(Steps,step);
        <li class="@(ind<ActiveCount?"active":"")">@step</li>
      }
  </ul>
</div>

<style>

@code
{
    [Parameter]
    public string[] Steps{get;set;}=new string[]{"Dataset","Train","Classify"};
    [Parameter]
    public int ActiveCount{get;set;}=01;
}

.stepcontainer {
  color: white;
}

.stepprogressbar {
  counter-reset: step;
}

.stepprogressbar li {
  position: relative;
  list-style: none;
  float: left;
  width: 33.33%;
  text-align: center;
  color: black;
}

/* Circles */
.stepprogressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  border: 1px solid #2979FF;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #FF9100;
   
  /* Center # in circle */
  line-height: 39px;
}

.stepprogressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: orange ;
  top: 20px; /*half of height Parent (li) */
  left: -50%;
  z-index: -1;
}

.stepprogressbar li:first-child:after {
  content: none;
}

.stepprogressbar li.active:before {
  background: #00E676;
  content: "✔";  
}

.stepprogressbar li.active + li:after {
  background: #00E676;
}
</style>